html{
    background-image: url("../images/rimworldBackground.png");
    font-family: Verdana, sans-serif;
    background-repeat: no-repeat;
    background-attachment: fixed;
    
}
body{
   background-color:#2C2C2D; 
   color:#BABBBD;
   border: 10px groove #9c7544;
   width: 70%;
   margin: 20px auto;
}
h1, h2, h3, nav {
    font-family: Tahoma;
    text-align: center;
}
header img{
    display: block;
    margin: 0 auto;
    width: 60%;
    padding: 20px 20px 20px 20px;
}
video{
    width: 50%;
    margin: 0 auto;  
    display: block;  
}
a {
    text-decoration: none;
    color:#BABBBD;
}
a:hover {
    text-decoration: none;
    color:#00501f;
}
nav{
    background-color: #1a1a1a;
    padding: 2px 0;
    text-align: center;
    border-bottom:2px groove #9c7544;
}
nav ul{
    padding: 5px;
    list-style-type: none;
    height: 10px;
    width: 100%;
}
nav li {
    border: 1px groove #9c7544;
    background-color: #000000;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    padding: 5px;
    height: 23px;
    font-size: 20px;
}
nav li:hover{
    border-color: #c24949;
}
nav li a{ 
    width: 150px;
}
nav li a:hover{
    color:#ffffff;
    background-color:#000000;
}
h2 {
    display: block;
    color: #af814c;
    text-shadow: #000000;
}
h3 {
    display: block;
    color: #487271;
    text-shadow: #000000;
}
article {
    width: 70%;
    text-align: center;
    margin: 0 auto;     
}
#tip p{
    display: flex;
    background-color:#1a1a1a;
    width: 20%;
    text-align: center;
    margin: 0 auto;
    padding: 7px;
    border-radius: 8px;
    border: 1px solid #61BF5E;
}
@media (min-width: 784px) {
    nav li {
        display: inline-block;
    }
    #one {
        margin: 20px;
    }
    #smart_main, #sidebar {
        margin: 10px;        
    }
    #smart_main {
        width: 30%;
    }
    #sidebar {
        width: 30%;
    }
}
@media (min-width: 1024px) {

}
