html{
    background-image: url("../images/rimworldBackground.png");
    font-family: Verdana, sans-serif;
    background-repeat: no-repeat;
    background-attachment: fixed;    
}
body{
   background-color:#2C2C2D; 
   color:#BABBBD;
   border: 10px groove #9c7544;
   width: 70%;
   margin: 20px auto;
}
h1, h2, h3, nav {
    font-family: Tahoma;
    text-align: center;
}
header img{
    display: block;
    margin: 0 auto;
    width: 60%;
    padding: 20px 20px 20px 20px;
}
section img {
    display: block;
    margin: 0 auto;
    width: 50%;
    border: 5px groove #9c7544;
    margin-bottom: 10px;
    margin-top: 15px;
}
section {
    margin-top: 15px;
    margin-bottom: 10px;
}
video{
    width: 50%;
    margin: 0 auto;  
    margin-top: 15px;
    margin-bottom: 10px;
    display: block; 
    border: 5px groove #9c7544; 
}
a {
    text-decoration: none;
    color:#BABBBD;
}
a:hover {
    text-decoration: none;
    color:#00501f;
}
nav{
    background-color: #1a1a1a;
    padding: 2px 0;
    text-align: center;
    border-bottom:2px groove #9c7544;
}
nav ul{
    padding: 5px;
    list-style-type: none;
    height: 10px;
    width: 100%;
}
nav li {
    border: 1px groove #9c7544;
    background-color: #000000;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    padding: 5px;
    height: 23px;
    font-size: 20px;
}
nav li:hover{
    border-color: #c24949;
}
nav li a{ 
    width: 150px;
}
nav li a:hover{
    color:#ffffff;
    background-color:#000000;
}
h2 {
    display: block;
    color: #af814c;
    text-shadow: #000000;
}
h3 {
    display: block;
    color: #487271;
    text-shadow: #000000;
}
article {
    width: 70%;
    text-align: center;
    margin: 0 auto; 
    padding: 5px;   
    background-color: #242424;  
    border-radius: 7px;
}
article p {
    width: 90%;
    text-align: center;
    margin: 0 auto;
    padding-top: 10px;
    padding-bottom: 10px;
}
aside{
    width: 100%;
    margin: 0 auto;     
}
aside ul{
    padding: 0px;
}
li {
    list-style-type: none;
}
.tip{
    display: block;
    width: 30%;
    font-size: 13px;
    background-color:#1a1a1a;
    text-align: center;
    padding: 5px;
    border-radius: 8px;
    border: 1px solid #61BF5E;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    margin-bottom: 10px;
}
.tipSide{
    display: block;
    width:90%;
    font-size: 13px;
    background-color:#1a1a1a;
    text-align: center;
    padding: 5px;
    border-radius: 8px;
    border: 1px solid #61BF5E;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    
}
.tips{
    display: block;
    margin:0px 0px 10px 5px; 
}
#one {
    display: block;
}
#two {
    display: block;
}
#five {
    display: block;
}
footer{
    width: 40%;
    background-color:#1a1a1a;
    text-align: center;
    padding: 5px;
    border-radius: 8px;
    border: 1px solid #61BF5E;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}
a {
    color:#BABBBD;
}
a:hover {
    color:#61BF5E;
}
li {
    text-align: center;
}
table {
    margin: 0 auto;
}
table img {
    width: 100px;
}
@media (max-width: 500px){
     html{ 
        background-size: cover;
    }
    body {
        width:100%;
        margin: 0 auto;
    }
    article {
        font-size: 80%;
        width: 90%;
    }
    video {
        width: 100%
    }
    img {
        width: 100%;
    }
    aside {
        display: block;
        width: 90%
    }
    section {
        display: block;
    }
    .tip {
        width: 90%;
        font-size: 50%;
    }

}
@media (max-width: 1070px){
    .tipSide{
        font-size: 20%;
    }
    html{ 
        background-size: cover;
    }
}
@media (min-width: 784px) {
    
    nav li {
        display: inline-block;
    }
    .tip{
        display: flex;   
    }
    .tipSide{
        display: flex;    
    }
    .tips{
        display: flex;
    }
    #one {
        display: flex;
    }
    #two {
        display: flex;
    }
    #five {
        display: flex;
    }
    aside {
        width: 15%;
        margin: 0 10px;
    }
    aside ul{
        padding: 0px;
    }
}
@media (min-width: 1070px) {
    table img {
        width: 200px;
    }
}
