html{
    background-image: url("../images/vertical2.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    font-family: Verdana, sans-serif;
}
h1, h2, h3, nav, th {
    font-family: Tahoma;
}
body{
    width: 70%;
    text-align: center;
    margin: 20px auto;
    border: 15px groove #43D6C8;
    border-radius: 5px;
    background-color: #7B4BBF;
    color:#cfadff;
}
#container{
    background-color: #7B4BBF;
}
header img{
    display: block;
    margin: 0 auto;
    width: 50%;
    padding: 20px 20px 20px 20px;
    background-color: #84BAE3;
    border-radius: 5px;
    border: 15px groove #43D6C8;
}
header{
    padding: 20px;
}
nav{
    background-color:#006141;
    padding: 2px 0;
    text-align: center;
}
nav ul{
    padding: 0;
    list-style-type: none;
}
nav li{
    display: inline-block;
    margin-left: 10px
}
nav li a{
    display: block;
    background-color: #4A6DD9;
    width: 150px;
    height: 50px;
    line-height: 50px;
    font-size: 1.3em;
    font-weight:bold;
    text-decoration: none;
    border: 8px groove #43D6C8;
    margin: 0 10px;
    color: #0000007a;
    border-radius: 5px;
}
nav li a:hover{   
    color:rgba(0, 0, 0, 0.555);
    background-color:#3a5bbe;
    border-color: rgb(207, 78, 96);
}
main {
    display: flex;
}
section, aside{
    border: 4px groove #43D6C8;
    margin: 20px;
    padding: 20px;
    border-radius: 5px;
}
section{
    width: 70%;
}
aside{
    width: 70%;
}
#Ihatethis{
    text-align: center;
    list-style-type: none;
    margin-right:20px;
    padding-bottom: 5px;
    padding-top: 5px;
}
#lower_area{
    display: flex;
}
.col{
    border: 4px groove #43D6C8;
    margin: 5px;
    padding: 10px;
    border-radius: 5px;

}
footer{
    background-color:#7B4BBF;
    text-align: center;
    padding: 40px;
    font-weight: bold;
    color:aquamarine;
}
.button {
    background-color:#006141;
    color:#84BAE3;
    display: block;
    text-decoration: none;
    width: 100px;
    height: 20px;
    margin-top: 10px;
    margin-left:26px;
    padding: 10px;
    text-align: center;
    border: 4px groove #43D6C8;
    border-radius: 5px;
}
img{
    display: block;
    margin: 0 auto;
    width: 300px;
    border-radius: 5px;
    border: 15px groove #43D6C8;
}
section img {
    display: block;
    margin: 0 auto;
    width: 70%;
    height:70%;
    border-radius: 5px;
    border: 1px groove #43D6C8;
}

.button:hover{
    background-color: #00501f;
    border-color:rgb(207, 78, 96);
    color:#84bae37e;

}
.single_page {
    width: 100%;
}
table, th, tr {
    border: 10px groove #43D6C8;
    text-align: center;
    margin:auto 0px;
    ;
}
th{
    border: 10px groove #43D6C8;
    text-align: center;
    margin:auto 0px;
    padding: 20px;
}
tr{
    border: 10px groove #43D6C8;
    text-align: center;
    margin:auto 0px;
    padding: 20px;
}
table img {
    width: 100px;
    margin:auto 0px;
}
a {
    text-decoration: none;
    color:#cfadff;
}
a:hover {
    text-decoration: none;
    color:#00501f;
}