
html{
    background-image: url("../images/vertical2.png");
    font-family: Verdana, sans-serif;
}
body{
    background-color: #7B4BBF;
}
img{
    display: block;
    margin: 0 auto;
    width:100%;
}
h1, h2, h3 {
    font-family: Tahoma;
}
#container{
    background-color: #7B4BBF;
}
nav{
    background-color: #006141;
    padding: 2px 0;
    text-align: center;
}
nav ul{
    padding: 0px;
    list-style-type: none;
}
nav li{
    display: block;
    border-bottom: 3px groove #43D6C8;
}
nav li a{
display: block;
height: 40px;
line-height: 40px;
text-decoration: none;
font-size: 1.3em;
padding: 5px 0;
background-color: #4A6DD9;
color: #0000007a;
}
nav li a:hover{
    color:rgba(0, 0, 0, 0.555);
    background-color:#3a5bbe;
    border-color: rgb(207, 78, 96);
}
main{
    padding: 20px;
}
.col {
    padding: 10px;
    border-top: 3px groove #43D6C8;
}
footer{
    background-color:#7B4BBF;
    text-align: center;
    padding: 40px 0;
    font-weight: bold;
    color:aquamarine;
}
.button {
    background-color:#006141;
    color:#84BAE3;
    display: block;
    text-decoration: none;
    width: 100px;
    height: 10px;
    line-height: 10px;
    margin-top: 10px;
    padding: 10px;
    text-align: center;
    border: 4px groove #43D6C8;
    border-radius: 5px;
}
.button:hover{
    background-color: #00501f;
    border-color:rgb(207, 78, 96);
    color:#84bae37e;
}
table {
    border: 10px groove #43D6C8;
    margin-left: auto;
    margin-right: auto;
}
table img{
    width: 100%;
}
@media (min-width: 768px) {
    nav li {
        display: inline-block;
        border: 8px groove #43D6C8;
        background-color: #4A6DD9;
        border-radius: 5px;
    }
    nav li a{
        width: 150px;
    }
    nav li:hover{
        border-color: rgb(207, 78, 96);
    }
    main{
        display: flex;
    }
    section, aside{
        padding: 10px;
        margin: 10px;
        border: 4px groove #43D6C8;
        border-radius: 5px;
    }
    .col img{
        width: 75%;
    }
    .button{
        margin-left: auto;
        margin-right: auto;
    }
    table img{
        width: 100px;
    }
}
@media (min-width: 1024px) {
    #container{
        width: 65%;
        margin: 20px auto;
    }
    #lower_area {
        display: flex;
    }
    .col{
        border: 4px groove #43D6C8;
        padding: 10px;
        margin: 10px;
        border-radius: 5px;
    }
}