html{
    background-color:rgb(255, 167, 221);
}
body{
    background-color:rgb(255, 135, 209);
    text-align: center;
    width: 800px;
    margin: 20px auto;
    color: rgb(0, 0, 0);
}
footer{
    background-color:rgb(255, 226, 133);
    text-align: center;
    padding: 40px 0;
}
footer a {
    color:rgb(255, 255, 255);
    text-align: center;
    font-size: 28px;
    color: rgb(0, 0, 0);
}
header{
    padding: 20px;
    text-align: center;
    font-size: 18px;
    color: rgb(0, 0, 0);
}
header img{
    display: block;
    margin: 20px auto;
    width: 60%;
}
main{
    margin: 20px auto;
    color: rgb(0, 0, 0);
}
main img{
    display: block;
    margin: 20px auto;
    width: 60%;
}
nav{
    background-color:rgb(255, 226, 133);
    text-align: center;
    font-size: 40px;
    padding-bottom: 9px;
    padding-top: 2px;

}
nav a{
    color:rgb(0, 0, 0);
    margin: 0 28px;
    font-size: 30px;
    text-align: center;
    border-radius: 5px 5px 5px 5px;
    padding-left: 5px;
    padding: 5px;
}
nav a:hover{
    text-decoration: none;
    color:rgb(116, 0, 48);
}
a {
    color: white;
    text-align: center;
}
a:hover{
    text-decoration: none;
    color: rgb(18, 22, 82)
}
h3 {
    overflow-wrap: normal;
    width: 50%;
    margin: 20px auto;
}
p{
    width: 80%;
    margin: 20px auto;
    overflow-wrap: normal;
}
ul{
    margin: 20px auto;
    text-align: center;
    width: 20%;
    color: rgb(0, 0, 0);
    padding-bottom: 5px;
    padding-top: 5px;
}